.parent {
    position: relative;
}

.outside {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(0.1turn, #FEC812,#FF3A5F,#E912B7) ;
    z-index: 1;
    position: absolute;
}

.inside {
    width: 280px;
    height: 280px;
    background-image: url(./image/Owl_image.png);
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 10px;
    top: 10px;
}

