/* .container > *:first-child:active {
    background-color: yellow;
} */

/* #check1:active {

    background-color: yellow;
} */

/* [type="checkbox"]:active {
    width: 50px ;
    height: 50px ;
    accent-color: yellow;
} */

/* border-radius: 50% ; */


/* #check1:active {
    width: 50px ;
    height: 50px ;
    accent-color: yellow;
} */

input[id="check2"]:checked {
    width: 50px;
    height: 50px;
    accent-color: yellow;
    background: url('https://lh6.googleusercontent.com/proxy/FWCfbOfbS5No7Xp1lPYoRTdRruxwlXAptJoU-SuzII1-1DaRNr-5Hl-FgEVu9x5J1rtSAp5LUYQnaBW2eiesWoKUBd_6VNlDXORHpQGRv-0ejJUY2uUsWGj7');
}